[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bikeshare14"]
	path = bikeshare14
	url = https://github.com/arunsrinivasan/bikeshare14
